body{
background-image:url(https://seguridadparaelpc.files.wordpress.com/2016/12/ransomware-cryptxxx-v3.jpeg?w=1366&h=768&crop=1);
background-size:cover;
background-attachment:fixed;

}

/* Para dar formato al header */
#main-header{
  background: rgb(0,0,0); /*fallback color*/
  background: rgba(176, 196, 222, 0.5); /* Black background with 0.5 opacity */
  height: 90px;
}

#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
  color: #2F4F4F;
}

#logo-header:hover {
		color: #0b76a6;
}

	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 50px;
	}

  #logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.9em;
		color: #DAA520;
	}

  /* formato letras de bienvenida */
  h1 {
    color: #000000;
    font-size: 60px;
    margin-top: auto;
    /* margin-top: 20px; */
    margin-bottom: 60px;
    animation-name: example;
    animation-duration: 1s;
    padding-left: 30%;
  }


  .input-container {
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    /* margin-bottom: 15px; */
    /* margin: auto; */
  }

  .input-field {
    width: 50%;
    height: auto;
    padding: 10px;
    outline: none;
    font-family: Tahoma, Geneva, sans-serif;
    margin: auto;
  }

  .input-field:focus {
    border: 2px solid dodgerblue;
  }

  .pin{
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    margin: auto;
  }

  .limpiar{
    width: 60%;
    outline: none;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size5 18px;
    margin: auto;
  }

  .limpiar:hover{

  }


  .btn {
    width: 20%;
    padding: 10px; /*anchura del cuadro del boton */
    outline: none;
    background-color:green;
    color: white;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    /* margin: auto; */
  }

  .btn:hover {
    border: 1px solid #808080;
    background-color: #F4A460;
    /* opacity: 1; */
  }

  /* formato para letras que deseas hacer  */
  h2{
    color: #2F4F4F;
    font-size: 30px;
    margin-bottom: 60px;
    animation-name: example;
    animation-duration: 1s;
    margin: auto;
  }

/*margin: auto;  esto lo centra */

/* para la pantalla principalPag */
.button-container {
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: auto; /* centrar */
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  background: #8B4513;
  color: white;
  min-width: 50px;
  text-align: center;
  border: 1px solid #808080;
}

/* para el boton cifrar y descifrar*/
.btn_cc {
  width: 40%;
  padding: 10px; /*anchura del cuadro del boton */
  outline: none;
  background-color:#8B4513;
  color: white;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border: none;
}

.btn_cc:hover {
  border: 1px solid #808080;
  background-color: #F4A460;
  /* opacity: 1; */
}

.show{
  background-color: red;
  color:white;
  /* padding-bottom: 50px; */
  width: 50%;
  margin: auto;
  margin-bottom: 60px;
  margin-top: 80px;
  text-align: center;
  font-size: 100%;
}
