@media only screen and (max-width:800px) {
  /* For tablets: */
  .button, .b-container, .btn {
    width: 80%;
    padding: 0;
  }
  .header-right,.input-container {
    width: 100%;
  }
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .header-right, .input-container, .button, .b-container, .btn, .show, .imgcontainer, .modal-content {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  body{
  }
}

body{
  background-image:url("https://i.kinja-img.com/gawker-media/image/upload/s--2JfHiPa0--/c_scale,f_auto,fl_progressive,q_80,w_800/oi636cfe7vz12ny4evce.jpg");
  background-size: cover;
  background-attachment:fixed;
  height: 100%;
  margin: 0;
}

/* Para dar formato al header */
#main-header{
  background: rgb(0,0,0); /*fallback color*/
  background: rgba(136, 134, 126, 0.5); /* Black background with 0.5 opacity */
  height: 100px;
  margin: 0;
  background-color: #FFFFF0;
}

#logo-header {
	float: left;
	padding: 6px 0 0 20px;
	text-decoration: none;
  color: #191970;
}

	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 3.5vw; /* viewport width= the text size will follow the size of the browser window*/
    font-family:'Bookman, URW Bookman L', serif;
	}

  #logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 1vw;
		color: #000080;
    font-family:'Sofia';
	}

  .header-right a:hover {
    background-color: #ddd;
    color: black;
  }

  .header-right a.active {
    background-color: dodgerblue;
    color: white;
  }

  .header-right a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 2vw;
    line-height: 25px;
    border-radius: 4px;
    font-family:'Bookman, URW Bookman L', serif;
  }

 .header-right {
   float: right;
   padding: 20px 0 0 20px;

 }

/*----------- formato para letras que deseas hacer----------------  */
  h2 {
    color: #FFD700;
    font-size: 2vw;
    animation-name: example;
    animation-duration: 1s;
    font-family: Georgia, serif;
    text-align: center;
    font-weight: bolder;
  }

  .bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: #FFFF00;
  font-weight: bolder;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  font-size: 1.5vw;
}

  input[type=text] {
  width: 35%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: vertical;
  margin: 5px 10px 5px 0;
  background-color: #fff;
  border: 1px solid  #ddd;
  color: black;
  }

input[type=number] {
width: 15%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 8px;
resize: vertical;
margin: 5px 10px 5px 0;
background-color: #fff;
vertical-align: middle;
color: black;

}

label {
  padding: 20px 20px 20px 0;
  display: inline-block;
  margin: 5px 10px 5px 0;
  font-size: 2.5vw;
  font-family: 'Bookman, URW Bookman L', serif;
}

 #text{
   background-color: rgb(255,255,255); /* Fallback color */
   background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
   width: 50%;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
 }

/* ------------------------- botones cifrar-descifrar----------------------- */
.btn {
  background-color: #000080;
  border: none;
  color: white;
  padding: 12px 20px;
  font-size: 1.5vw;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 9px #4169E1;
  outline: none;
}

.btn:hover {
  background-color: #00BFFF;
}

.btn:active {
  background-color: #000080;
  box-shadow: 0 5px #4169E1;
  transform: translateY(4px);
}

/* ---------------------------ocultar la pantalla de resultado----------- */
#pagResult{
  display: none;
}

.show{
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  color:black;
  font-size: 2vw;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

textarea{
  font-size: 1.5vw;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border: 1px solid #ccc;
  border-radius: 12px;
  width: 50%;
  /* width: 12em; */
}

/*---------------------- formato boton borrar y nuevo -----------------*/
/*utiliza la clase btn  */

/* ------------------ para cuando se usan las mayusculas-------------------- */
#text{
  display: none;
  color: red
}

/* -------------------------------- formato para acerca de ------------------ */
/* The Modal (background) */
.modal {
  display: none; /* Esconde*/
  position: fixed; /* permanecer en el lugar */
  z-index: 1; /* diferencia para el top*/
  left: 0;
  top: 0;
  width: 100%; /* completo width */
  height: 100%; /* completo height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  /* background-color: white; */
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  border-radius: 12px;
  background-image: url("https://i.kinja-img.com/gawker-media/image/upload/s--2JfHiPa0--/c_scale,f_auto,fl_progressive,q_80,w_800/oi636cfe7vz12ny4evce.jpg");
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.8s;
  animation: animatezoom 0.6s
}

p{
  color: black;
  font-size: 1.5vw;
  margin-top: auto;
  background-color: rgb(255,255,240, 0.8);
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 13px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 30px;
}

.imgcontainer {
  text-align: center;
  margin: 14px 0 12px 0;
  position: relative;
}

img.logo {
  width: 30%; /*set 100% the image will be responsive and sacle up and down*/
  max-width: 100% ;
  height: auto;
  border-radius: 30%;
}
